<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
       default-lazy-init="true">

    <!-- =================================================================== -->
    <!-- AOP: Configuration and Aspects                                      -->
    <!-- =================================================================== -->
    <aop:config>
        <aop:advisor id="managerSaveTx" advice-ref="txAdvice" pointcut="execution(* *..service.*Service.*(..))" order="1"/>
    </aop:config>
    
    <!-- Enable @Transactional support -->
    <tx:annotation-driven/>
    
    <!-- Enable @AspectJ support -->
    <aop:aspectj-autoproxy/>


    <bean id="useradminService" class="com.banvien.myplatform.core.service.UseradminServiceImpl">
    	<property name="useradminDAO" ref="useradminDAO"/>
    </bean>

    <bean id="countryService" class="com.banvien.myplatform.core.service.CountryServiceImpl">
    	<property name="countryDAO" ref="countryDAO"/>			    	
    </bean>
		<bean id="cityService" class="com.banvien.myplatform.core.service.CityServiceImpl">
    	<property name="cityDAO" ref="cityDAO"/>			    	
    </bean>
		<bean id="provinceService" class="com.banvien.myplatform.core.service.ProvinceServiceImpl">
    	<property name="provinceDAO" ref="provinceDAO"/>			    	
    </bean>
	<bean id="userService" class="com.banvien.myplatform.core.service.UserServiceImpl">
    	<property name="userDAO" ref="userDAO"/>			    	
    </bean>

    <bean id="globalMetaDataService" class="com.banvien.myplatform.core.service.GlobalMetaDataServiceImpl">
    	<property name="provinceDAO" ref="provinceDAO"/>			
    	<property name="countryDAO" ref="countryDAO"/>	    	
    </bean>
	
    <tx:advice id="txAdvice">
        <tx:attributes>
            <!-- Read-only commented out to make things easier for end-users -->
            <!-- http://issues.appfuse.org/browse/APF-556 -->
            <tx:method name="search*" read-only="true"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*" rollback-for="Throwable"/>
        </tx:attributes>
    </tx:advice>

    <bean id="userSecurityAdvice" class="com.banvien.myplatform.web.security.MyUserDetailsService">
    	<property name="useradminDAO" ref="useradminDAO"/>
    </bean>

</beans>